html,
body {
    height: 100%;
}
img {
    max-width: 100%;
}
/* cover */
#cover {
    background: #222 url('../img/emp.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
}
#cover-texto {
    width: 100%;
    color: black;  
    margin-top: 250px;
  
 }

#cover-texto .form-inline{
    width: 100%;
}
#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}
.prova{
	color: black;
}
.probando{
    max-width: 300px;
}
